<br>
<br>
<div class=" container-fluid">
    <div class="text-center">
        <div class=" overlay">
            <div class="caption">
                <h1 class="display-1 text-black"
                    style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; ">
                    <img src="../assets/images/npr logo.png" width="200" height="75">
                    scraper</h1>
                <br>
                <br>
            </div>
        </div>
        <div class=row>
            <div class="col-12">
                {{#each articles}}
                {{#if saved}}
                <div class="card w-90" id="savedArticles">
                    <div class=" card-header text-white"
                        style=" background-color: #1d7cbf; font-family: 'Trebuchet MS'">
                        <a href={{this.link}} target="_blank" class="text-white">
                            <h5>{{this.title}}</h5>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{this.teaser}}
                        </p>

                        <button data="{{this._id}}" class="btn btn-info note-btn">Article Notes</button>
                        <button data="{{this._id}}" data-save="{{this.saved}}" class=" btn btn-danger delete-btn">Delete
                            From
                            Saved</button>
                    </div>
                </div>
                <br>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
{{>notes}}